body {
    padding: 30px;
    background-image: linear-gradient(to top, #f343 0%, #fff 100%);   
    font-family: "Times New Roman", Times, serif;
    height: 100vh;
}

ul { 
    padding-left: 50px; 
    list-style: none; 
}
li { 
    margin-bottom: 15px;
}

.create-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 100px 20px 100px;
  
}

button {
    background-color: maroon;
    color: #fff;
    border-radius: 10px !important;
    font-size: 0.8rem !important;
    
}